@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
    height: 230px
    padding: 0 13px 24px
  .footer
    &-wrapper
      grid-template-columns: repeat(4, minmax(min-content, 1fr))
    &__input
      &-group
        flex-basis: 100%

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: auto
  .search
    &-group
      width: 340px
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-slider
      width: 100%
    &-grid
      flex-direction: column
    &-card
      flex-direction: row
      align-items: flex-end
    &__slider
      margin-bottom: 30px
  .booking
    width: 340px
    min-height: 210px
  .map
    width: 340px
    height: 210px
  .newsletter
    padding: 92px 0 93px 0
  .reviews
    &-slider
      &__item
        max-width: 579px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
    padding: 0 26px 24px
  .otherPackages
    &__tittle
      margin-bottom: 50px
    &-grid
      grid-template: repeat(3, 1fr) / repeat(2, 1fr)
      grid-row-gap: 20px
      grid-column-gap: 20px
  .footer
    padding: 73px 0 33px 0
    &-wrapper
      grid-template-columns: 10% 10% 15.5% 15.5% 12% 12%
      grid-auto-rows: min-content
      grid-column-gap: 5%
      grid-row-gap: 30px
      margin-bottom: 56px
    &__logo
      width: 104px
      grid-row: 1/2
      grid-column: 1/3
      margin: 0
      margin-bottom: 8px
    &__social
      &-network
        grid-row: 1/2
        grid-column: 3/7
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: 1/3
    &__additional
      grid-column: span 2
    &__legal
      padding: 0
      grid-column: span 2
    &__tittle
      &--contact
        margin-top: 0
    &__item
      &--mb-2
        margin-bottom: 20px
    &__contact
      &-details
        grid-column: span 6
        grid-row: 4/5
      &-form
        grid-column: span 6
        grid-row: 6/7
        max-width: 539px
    &__linkSocial
      &:hover
        background-color: transparent
  .button,
  .booking__button,
  .search__button,
  .subscribe__button,
  .card__button
    &:hover
      background-color: $primary
  a:hover
    color: inherit
  .user
    &:hover
      text-decoration: none
  .home
    &-link
      &:hover
        background-color: $primary
  .rating
    &:hover
      background-color: $primary
@media (max-width: 768px)
  .container,
  .newsletter-wrapper
    max-width: 700px
    width: 92%
  .map
    flex-basis: 49%
  .booking
    flex-basis: 48.7%
    padding: 29px 22px 26px 23px
  .reviews
    padding: 40px 0 60px
    &__tittle
      margin-bottom: 50px
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
    &-slider
      &__item
        padding: 0 60px 30px 64px
      &__text
        max-width: 455px
      &__date
        font-style: normal
        font-weight: normal
        font-size: 10px
        line-height: 13px
      &__button
        top: 157px
        &--prev
          left: 0
        &--next
          right: 0
  .card
    width: 48.5%
    height: 255px
  .footer
    &__input
      &-group
        flex-basis: 47%
    &__social
      &-network
        margin-left: -20px
    &__infoBlock
      justify-content: space-between
    &__ul
      &--infoBlock
        margin-right: 0
    &__item
      &--mb-2-0
        margin-bottom: 0
    &__logoImg
      max-width: 90%
@media (max-width: 650px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 70px
  .user
    &__name
      &--light
        margin-left: 0
        margin-top: 10px
        color: $light
  .search
    &__input
      &--mobile
        &--visible
          width: 245px
  .navbar
    &__search, &__user
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
      align-items: center
    &-buttom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 31px
      padding-bottom: 68px
      &--visible
        display: block
        overflow-y: auto
    &-top
      padding-top: 26px
      padding-bottom: 26px
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &-menu
      flex-direction: column
      padding: 0
      &__items
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
            &--mb4
              margin-top: 7px
              margin-bottom: 39px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-slider
      height: 450px
    &-card
      flex-direction: column
      justify-content: space-between
      &__booking
        margin-bottom: 20px
    &__slider
      margin-bottom: 20px
    &-name
      flex-basis: 100%
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin: 0
        margin-bottom: 10px
      &__text
        justify-content: space-between
      &__stars
        flex-basis: auto
        margin-bottom: 10px
        margin-right: 15px

  .booking
    width: 100%
    max-height: 210px
    padding: 29px 21px 26px 22px
  .map
    width: 100%
    height: 210px
    &__iframe
      min-height: 207px
  .newsletter
    padding: 76px 0 83px 0
    &-tittle
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-weight: 600
        font-size: 30px
        line-height: 38px
        text-transform: uppercase
    &-wrapper
      display: flex
      flex-wrap: wrap
      max-width: 576px
      width: 92%
    &__subscribe
      flex-basis: 100%
      margin-top: 37px
  .subscribe
    &-input
      padding-left: 20px
      padding-right: 75px
  .reviews
    padding: 40px 0 50px 0px
    &-slider
      &__item
        padding: 0 29px 36px 33px
        &:before,
        &:after
          display: none
      &__button
        top: 45px
        transform: translate(0, -50%)
        &--prev
          left: 50%
          margin-left: -120px
        &--next
          right: 50%
          margin-right: -120px
  .card
    width: 48%
    height: 255px
  .grid
    &-hotelBlueHaven,
    &-belleMare,
    &-whitePalace,
    &-luxuryPlace,
    &-hotelFiveStar
      &__card
        padding-right: 20px
        padding-left: 20px
  .modal
    &__dialog
      &--visible
        man-width: 90%
@media (max-width: 576px)
  .hotel
    &-grid
      padding-top: 18px
    &-slider
      height: 179px
      &__item
        margin-bottom: 20px
      &__photo
        width: 100%
        min-height: 179px
        object-fit: cover
  .logo
    width: 99px
  .container,
  .newsletter-wrapper
    width: 87.5%
  .map
    height: 173px
    &__iframe
      min-height: 170px
  .reviews
    &__tittle
      max-width: 245px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      margin: 0px auto 42px
    &-slider
      &__text
        text-align: left
      &__button
        &--prev
          margin-left: -105px
        &--next
          margin-right: -105px
  .activities
    padding: 40px 0
    &__tittle
      margin-bottom: 36px
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
    &__card
      &--firstMobilePlace
        order: 0
      &--secondMobilePlace
        order: 1
      &--thirdMobilePlace
        order: 2
      &--fourthMobilePlace
        order: 3
  .card
    width: 100%
    height: 255px
  .otherPackages
    &__tittle
      margin-bottom: 50px
      font-size: 26px
    &-grid
      grid-template: repeat(5, 500px) / 1fr
  .grid
    &-hotelBlueHaven
      grid-column-start: 1
      grid-column-end: 2
      grid-template: repeat(2, 250px) / 1fr
      &__stars
        display: none
      &__text
        display: none
      &__offer
        position: absolute
        top: 30px
        padding: 4px 9px
        font-style: normal
        font-weight: 600
        font-size: 8px
        line-height: 10px
        color: $light
        background-color: $primary
        border-radius: 0px 4px 4px 0px
      &__photo
        width: 100%
        height: 100%
        object-fit: cover
      &__card
        padding: 30px 21px 25px 32px
        background-color: $dark
      &__tittle
        font-style: normal
        font-weight: bold
        font-size: 18px
        line-height: 23px
        color: $light
        margin-top: 0
        margin-bottom: 23px
      &__description
        display: flex
        flex-direction: column
        margin-bottom: 13px
      &__adress,
      &__guests,
      &__room
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 15px
        color: $light
        margin-left: 14px
      &__adress-wrapper,
      &__guests-wrapper,
      &__room-wrapper
        display: flex
        align-items: center
        justify-content: flex-start
        margin-bottom: 11px
      &__price
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between
        color: $light
      &__discont
        flex-basis: 100%
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 18px
        text-decoration-line: line-through
      &__price-tag
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 30px
      &__button
        padding: 11px 27px 10px 26px
        background-color: $primary
        border: none
        border-radius: 4px
        color: inherit
        font-family: Nunito
        font-style: normal
        font-weight: 600
        font-size: 14px
        line-height: 19px
        cursor: pointer
    &-belleMare,
    &-whitePalace,
    &-luxuryPlace,
    &-hotelFiveStar
      grid-template: repeat(2, 250px) / 1fr
  .footer
    padding: 69px 0 21px 0
    &-wrapper
      grid-template-columns: minmax(min-content, 1fr)
      grid-column-gap: 0
      grid-row-gap: 30px
      margin-bottom: 30px
    &__logo
      grid-column: 1/2
      margin-bottom: 10px
    &__social
      &-network
        grid-column: 1/2
        grid-row: 2/3
        justify-content: flex-start
        flex-wrap: wrap
        margin-left: 0
        margin-top: 0
    &__tittle
      &--inline
        margin: 0 0 20px 0
        flex-basis: 100%
      &--send
        margin-bottom: 15px
      &--contact
        margin-bottom: 30px
    &__additional
      grid-column: 1/2
      grid-row: 4/5
    &__categories
      grid-row: 5/6
    &__legal
      grid-column: 1/2
      grid-row: 3/4
    &__contact
      &-details
        grid-column: 1/2
        grid-row: 6/7
        margin-top: 10px
        margin-bottom: -22px
      &-form
        grid-column: 1/2
        grid-row: 8/9
    &__icon
      &-wrapper
        margin-right: 7px
    &__text
      margin-bottom: 25px
    &__item
      &--mb-2
        margin-bottom: 25px
    &__input
      &-group
        flex-basis: 100%
    &__infoBlock
      flex-wrap: wrap
      justify-content: flex-start
    &__ul
      &--infoBlock
        flex-basis: 100%
        margin: 0 0 10px 0
        min-width: 280px
    &__message
      margin-bottom: 15px
    &__button
      order: 1
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__link
      &--mail
        line-height: 14px
  .modal
    &__dialog
      &--visible
        max-width: 90%
        padding: 33px 50px
    &__button
      min-width: 0
      flex-basis: 47%
