.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
    &__offer
      margin-left: 14px
    &__text
      display: flex
      flex-wrap: wrap
      align-items: center
    &__name
      margin: 0
    &__description
      margin: 0
    &__stars
      margin-bottom: 4px
    &__starsItems
      margin-right: 2px
    &__rating
      cursor: pointer
  &-name
    text-transform: uppercase
    font-size: 24px
    line-height: 30px
  &-description
    flex-basis: 100%
    font-size: 12px
    line-height: 15px
  &-grid
    display: flex
    justify-content: space-between
  &-card
    display: flex
    flex-direction: column
    justify-content: space-between
  &-slider
    margin: 0
    width: 728px
    height: 450px
    &__item
      width: 100%
      height: 100%
      position: relative
      border-radius: 8px
      overflow: hidden
      &:after
        content: ''
        position: absolute
        z-index: 10
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    &__button
      position: absolute
      z-index: 99
      top: 50%
      transform: translateY(-50%)
      width: 30px
      height: 30px
      border: none
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
      cursor: pointer
      background-color: transparent
      &--next
        background-image: url(../img/arrow-next.svg)
        right: 18px
      &--prev
        background-image: url(../img/arrow-prev.svg)
        left: 16px
    &__photo
      width: 100%
      min-height: 100%
      object-fit: cover
.stars
  flex-basis: 100%
  line-height: 0
.offer
  padding: 4px 9px
  font-size: 10px
  line-height: 13px
  color: $light
  background-color: $primary
  border-radius: 3px
.rating
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  flex-shrink: 0
  padding: 9px 6px 6px 6px
  background-color: $primary
  border-radius: 4px
  max-width: 65px
  min-height: 45px
  color: $light
  &__text
    font-size: 8px
    line-height: 10px
    font-weight: 600
  &__counter
    font-size: 14px
    line-height: 18px
    font-weight: bold
  &__all
    font-size: 10px
    line-height: 13px
  &:hover
    background-color: #5CCCCC
.booking
  width: 350px
  height: 210px
  background-color: $dark
  color: $light
  font-family: Nunito, sans-serif
  border-radius: 8px
  padding: 29px 29px 26px 26px
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-weight: normal
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-weight: 800
    font-size: 24px
    line-height: 33px
    margin-bottom: -4px
  &__per-room
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__room
    margin-top: 4px
  &__text
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 8px
  &__description
    font-weight: normal
    font-size: 12px
    line-height: 16px
    margin-left: 9px
  &__call-center
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 17px
  &__heading
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__number
    display: flex
    align-items: center
    justify-content: space-between
    text-decoration: none
    color: inherit
  &__num
    margin-left: 8px
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__button
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: $light
    border: none
    width: 100%
    background-color: $primary
    border-radius: 4px
    min-height: 45px
    cursor: pointer
.map
  width: 347px
  height: 213px
  border-radius: 10px
  overflow: hidden
